body {
    background-color: #000;
    text-align: center;
}

#cr-stage {
    display: inline-block;
}

.menu {
    vertical-align: top;
}

.submenu {
    color: #FFF;
    height: 25px;
    line-height: 25px;
}

.btn, .pts {
    height: 50px;
    width: 20%;
    display: inline-block;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}

.btn {
    border: 1px solid #FFF;
}

.select {
    color: red;
}

#glass {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: #000;
    z-index: 10;
    text-align: center;
    color: #FFF;
    line-height: 600px;
    font-size: 30px;
    font-weight: bold;
}
